body{

	background: #F4F4F4;
	margin: 0;
	background-image: url(../images/image1.jpg);
	background-repeat: no-repeat;
	animation-name: mymove;
	background-size:100% 100%;
}


.link-title{

	text-decoration: none;
	font-size: 24px;
	color:#444444;
}


.container{

	width:780px;
	margin:0 auto;
	background: white;
	box-shadow: 0 5px 5px 5px;

}

.header{

	padding: 45px 0 20px 40px;
	animation-name: slidein;
	animation-duration: 3s;
	font-family: "Lucida Sans unicode","Myriad Pro";

}

.menu{

	background: #3B7687;
	padding:6px 0 6px 40px;
	text-transform: uppercase;
}


.menu a{

	color:#c5d6db;
	text-decoration: none;
	font-family:"Arial Narrow","Myriad Pro";
}

.menu a:hover{

	color: #ecf2f3;
}

aside{

	float:left;
	width:120px;
	padding :30px 50px 0 0;
	text-align: center;
}
aside li{

	float:left;
	width:100px;
	padding:10px 0 0 0;
	border-bottom: 1px solid #60b6d0;
	list-style-type: none;
	animation-name: slideto;
	animation-duration: 2s;
}
aside li a{

	text-decoration: none;
	color:grey;
}

h1{

	margin:0px;
	color:#869843;
	font-size: 24px;
	font-family: "Arial Narrow","Myriad Pro";
	font-weight: normal;
	animation-duration: 3s;
}

h2{

	color:#3B7687;
	font-size: 15px;
	margin:20px 0 5px 0;
}


.main{

	margin: 0 0 0 180px;
	padding:35px 40px 30px 0;
	color:#444444;
	font-family: "Georgia";
	font-size: 13px;
	line-height: 18px;
	text-align: justify;
}

.main a:hover{

	color:#444444;
}

#home-image img{

	width: 100%;


}


footer{

	padding: 6px 40px 6px 40px;
	background: #d6d6d6;
	font-family: "Lucida Sans unicode";
	font-size: 11px;
	text-decoration: right;
}

footer .footer-image{

	width:20px;
	padding-top:6px;
}

footer a{

	text-decoration: none;
	color:#3f78bf;

}


.separator{

	color:#3f78bf;
	font-size: 15px;

}


/*about page*/
#about-page{

	background-image: url("../images/image7.jpg");
}

#about-page #home-image img{

	width: 70%;
	float:left;
	margin-bottom: 20px;
}


#about-page #profile-info{

	float:right;
	width:20%;
	margin:5px;
}

#about-page .description{

	clear: both;

}


 #contact #form{

 	width: 500px;
 	padding:10px 10px 10px 10px;
 	margin:0 auto;
 	box-shadow: 0 5px 5px 5px;
 	border-radius: 10px;

}

.page-heading{

	text-align: center;
	margin-bottom: 20px;



}



#contact #form input{

	width:100%;
	border-radius: 5px;
	height:20px;
	background: #d6d6d6;


}


#contact #form #message {

	width:100%;
	border-radius: 5px;
	background: #d6d6d6;

}

#contact #form #submit {

	height:30px;
	background: rgb(59,118,135);

}

#hotel-name{

	font-family:"Lucida Handwriting";
	font-weight: 800;
	font-size: 50px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideto {
  from {
    margin-right: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


