body, div, img{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body{
  width: 100%;
  height: 100%;
  background: #24292e;
} 
div{
  width: 100%;
  position: absolute;
  top: calc(50% - 100px);
  left: 0;
  overflow: visible;
  text-align: center;
}
img{
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 5px black;
}
img{
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
img{animation-delay: 0.5s;}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

img {
  width:200px;
  height: 200px;
}
p {
  color: white;
  font-family: cursive;
  font-size: 22px;
  animation-duration: 2.5s;
  animation-name: slidein;
}
@-webkit-keyframes slidein {
  from {
           margin-left: 100%;
           width: 300%;
        }

  to {
   margin-left: 0%;
   width: 100%;
  }
}


