/*main page starts*/


.body_class {
	margin: 0px;
	height: 100%;
	overflow-y: none;
	background-color: #FFFFFf;
}

.header_division_class {
	background-color: #24292e;
	display: inline-block;
}

.header_class {
	height: 80px;
	width: 100%;
}

.logo{
	display: inline-block;
}

.image_class {
	width: 11%;
	margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 10px;
}

nav ul li {
	list-style: none;
}
.list_navigation {
	display: inline-block;
	margin-left: 900px;
}

#aboutUs {
	list-style: none;
	float: right;
	position: absolute;	
	display: inline-block; 
	margin-bottom: 12px;
}
#contact {
	list-style: none;
	float: right;
	position: relative;
	display: inline-block;
	margin-left: 102px;
	margin-bottom: 12px;
}

.nav_link_class {
	text-decoration: none;
	font-family: "Lucida Console", Courier, monospace;
	padding: 10px 15px 10px 15px;
	border-radius: 30px;
	color: white;
	font-weight: bold;
}

.nav_link_class:hover {
	color: #24292e;
	background-color: white;
}

.main_body_class {
	/*height: 300px;*/
	display: inline-block;
	width: 100%;
}

.main_body_class div {
	display: inline-block;
	/*text-align: center;*/
}

#heading_div {
	display: inline-block;
	margin-top: 70px;
	margin-left: 60px;
	font-size: 2rem;
	color: #24292e;
	font-family: sans-serif;
}
#description_div {
	display: block;
	width: 45%;
	margin-left: 60px;
	color: #5f6368;
	font-size: 1.125rem;
	font-weight: 400;
	font-family: 'Google Sans',Roboto,Arial,sans-serif;
}

.sign_in_class {
	/*display: inline-block;*/
	box-sizing: border-box;
	width: auto;
	height: auto;
	position: absolute;
	margin-left: 50px;
	margin-top: 20px;
	
}

.sign_up_class {
	/*display: inline-block;*/
	box-sizing: border-box;
	width: auto;
	height: auto;
	position: relative;
	margin-left: 220px;
	margin-top: 20px;
	font-family: sans-serif;
	
}

#main_image {
	display: inline-block;
	/*position: relative;*/
	width: 620px;
	float: right;
	margin-right: 25px;
	/*margin-left: 500px;*/
	margin-top: 55px;
	/*margin-bottom: 200px;*/
}

#main_image img {
	width:620px;
	border-radius: 25px;
}

#room_id {
	display: inline-block;
	width: 440px;
	margin-left: 51px;
	margin-top: 10px;
	/*margin-bottom: 100px;*/
	background-color:#d9dddc;
	border: 2px solid #777b7e;
	padding: 10px;
	border-radius: 10px;
}

#room_id button {
	display: inline-block;
	height: 35px;
	
}

#room_id label {
	color: #24292e;
	font-size: 1.3rem;
	font-family: fantasy;
}
#room_id input {
	width: 300px;
	height: 30px;
	color: #24292e;
	font-size:1.1rem;
}

.button {
  display: inline-block;
  text-decoration: none;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 10rem;
  background-color: #24292e;
  color: white;
  box-shadow: 5px 5px 5px 2px #24292e;
  padding: 20px;
  /*width: 200px;*/
  font-size: 1rem;
  transition: all .2s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #24292e;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #24292e;
}
.button:hover:before {
  width: 100%;
}

.button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.button:focus{
  outline:0;
}
/*
.footer_class {
	height: 80px;
	background-color: #24292e;
	margin-top: 200px;
}
*/


